account-card([title]="'Change Password'")

    form([formGroup]='changePasswordForm', (ngSubmit)='changePassword()', class='account-form')

      div(fxLayout='row')
        div(fxFlex)

          md-input-container(class='account-form-full-width')
            input(mdInput,
                  required,
                  type='password',
                  name='newPassword1',
                  formControlName='newPassword1',
                  placeholder='Password')

            md-error(*ngIf="newPassword1.hasError('required')").
              Password is <strong>required</strong>

            br

      div(fxLayout='row')
        div(fxFlex)

          md-input-container(class='account-form-full-width')
            input(mdInput,
                  required,
                  type='password',
                  name='newPassword2',
                  validateEqualTo='newPassword1'
                  formControlName='newPassword2',
                  placeholder='Repeat password')

            md-error(*ngIf="newPassword2.hasError('required')").
              Password is <strong>required</strong>

            md-error(*ngIf="newPassword2.hasError('validateEqual')").
              Passwords do not match



      div(fxLayout='row')
        div(fxFlex)

          br

          button(md-raised-button, type='submit', [disabled]='!changePasswordForm.valid').
            Change password

      div(fxLayout='row')
        div(fxFlex)
          md-error(*ngIf="errorMessages")
            span.
              {{ errorMessages | async }}
