account-card([title]="'Forgotten password'")

    form([formGroup]='forgottenPasswordConfirmForm', (ngSubmit)='forgottenPasswordConfirm()', class='account-form')

      div(fxLayout='row')
        div(fxFlex)

          md-input-container(class='account-form-full-width')
            input(mdInput,
                  required,
                  type='password'
                  name='new_password1'
                  formControlName='new_password1'
                  placeholder='Password')

            md-error(*ngIf="new_password1.hasError('required')").
              Password is <strong>required</strong>

            br

      div(fxLayout='row')
        div(fxFlex)

          md-input-container(class='account-form-full-width')
            input(mdInput,
                  required,
                  type='password'
                  name='new_password2'
                  formControlName='new_password2'
                  placeholder='Confirm password')

            md-error(*ngIf="new_password2.hasError('required')").
              Password is <strong>required</strong>

            md-error(*ngIf="new_password2.hasError('validateEqual')").
              Passwords do not match

      div(fxLayout='row')
        div(fxFlex)

          br

          button(md-raised-button, type='submit', [disabled]='!forgottenPasswordConfirmForm.valid').
              Forgotten password
