account-card([title]="'Forgotten password'")

    form([formGroup]='forgottenPasswordRequestForm', (ngSubmit)='forgottenPasswordRequest()', class='account-form')

      div(fxLayout='row')
        div(fxFlex)

          md-input-container(class='account-form-full-width')
            input(mdInput,
                  required,
                  type='text',
                  name='email',
                  formControlName='email',
                  placeholder='Email',
                  autofocus)

            md-error(*ngIf="email.hasError('required')").
              Email is <strong>required</strong>

            md-error(*ngIf="email.hasError('email') && !email.hasError('required')").
              Email format is not valid


      div(fxLayout='row')
        div(fxFlex)

          br

          button(md-raised-button, type='submit', [disabled]='!forgottenPasswordRequestForm.valid').
              Forgotten Password

      div(fxLayout='row')
        div(fxFlex)
          md-error(*ngIf="errorMessages")
            span.
              {{ errorMessages | async }}
